= content_for :hero do
  .page-hero style=("background-image: url(#{asset_path 'hero-1.jpg'});")
    = render partial: 'shared/header'
    .container
      .row
        .col-xs-12
          .page-hero-content
            h1.page-title Пользовательское соглашение
            .page-hero-details


p
    | Настоящее пользовательское соглашение (далее - Соглашение) в соответствии с положениями ст. 437 ГК РФ
    |  является офертой Романова Павла Владимировича (далее - Администрация), и адресовано любому дееспособному лицу (далее – Пользователю) на изложенных ниже условиях.

p
    | Регистрация в специальной форме, размещенной по адресам:
    = link_to 'http://elmyfta.ru/users/sign_in', new_user_session_path
    ',
    = link_to 'http://elmyfta.ru/products/new', new_product_path
    ',
    | является безусловным и безоговорочным принятием (акцептом) Пользователем условий данного Соглашения.

p.title.center Термины и определения

p
    strong Платформа
    | – программный комплекс Администрации, расположенный по адресу http://elmyfta.ru.

p
    strong Аккаунт
    | — учетная запись Пользователя на Платформе.
p
    strong Личный кабинет
    | — раздел Платформы, с помощью которого Пользователь может реализовывать функционал Платформы.
p
    strong Контент
    | — информация, документы и иные объекты, размещаемые Пользователем на Платформе.
p
    strong Тариф
    | — объем предоставляемых прав и услуг Пользователю.


p.title 1. Предмет
p 1.1. Администрация предоставляет неисключительную лицензию на использование Платформы, а также оказывает сопутствующие услуги.
p 1.2. Пользователь использует Платформу Соглашения, а также уплачивает вознаграждение, если иное не предусмотрено Тарифом.

p.title 2. Общие положения

p 2.1. Для использования Платформы Пользователь проходит регистрацию по адресам http://elmyfta.ru/users/sign_in, http://elmyfta.ru/products/new
p 2.2. После регистрации Пользователь получает уникальный Аккаунт и доступ в Личный кабинет.
p 2.3. Все действия, совершаемые в Личном кабинете, считаются совершенными Пользователем лично.
p 2.4. Пользователь самостоятельно несет ответственность за:
p.tab a) Сохранность своего логина и пароля.
p.tab b) Последствия в случае утери и/или разглашения логина и пароля третьим лицам.
p 2.5. Администрация не рекомендует Пользователю передавать третьим лицам данные своего Аккаунта. В случае передачи данных Аккаунта Пользователь должен ознакомить третьих лиц с Соглашением и несет всю ответственность за их действия.

p.title 3. Условия использования

p 3.1. Пользователь вправе использовать Платформу согласно Соглашению и действующему законодательству Российской Федерации.
p 3.2. Администрация не обязана оказывать консультационную и техническую поддержку Пользователю.
p 3.3. Платформа интегрирована с различными сервисами, в том числе с сервисами аналитики, платежей, рассылок, банка изображений. Платформа обеспечивает только возможность доступа к сервисам. Все вопросы, связанные с использованием сервиса, регулируются документами сервиса и решаются между владельцем сервиса и Пользователем самостоятельно.
p 3.4. Платформа и услуги предоставляются на условиях «как есть».
p 3.5. Пользователь принимает на себя все риски, связанные с использованием Платформы и услуг.
p 3.6. Администрация не дает Пользователю никаких явно выраженных или предполагаемых гарантий в отношении Платформы и услуг, в том числе, не гарантирует (включая, но не ограничиваясь): пригодность для конкретных целей, безопасность и защищенность, точность, полноту, производительность, системную интеграцию, бесперебойное функционирование, отсутствие ошибок, исправление неполадок, отсутствие вирусов, законность использования на любых территориях за пределами Российской Федерации.
p 3.7. Администрация не несет ответственности за:
p.tab a) невозможность использования Платформы по причинам, не зависящим от Администрации;
p.tab b) любые действия и/или бездействия поставщиков услуг, сервисов, сетей, программного обеспечения или оборудования;
p.tab c) искажение, изменение, утрату Контента;
p.tab d) безопасность логина и/или пароля Пользователя;
p.tab e) несанкционированное и/или неправомерное использования третьими лицами логина и/или пароля Пользователя;
p.tab f) ущерб, который может быть нанесен любым устройствам и носителям информации и/или программному обеспечению Пользователя в результате использования Платформы и/или услуг.

p.title 4. Интеллектуальная собственность
p 4.1. Администрация является правообладателем Платформы и ее составных частей (код, дизайн, базы данных, ноу-хау).
p 4.2. Неисключительная лицензия ограничена «правом на использование», и ни одно из положений Соглашения не означает передачи Пользователю исключительного права на Платформу и её составляющих.
p 4.3. Неисключительная лицензия предоставляется на срок действия Соглашения на территорию всего мира.

strong Платформа
p 4.4. Пользователь вправе с помощью Платформы:
p.tab a) Размещать информацию об организации и наличии остатков по продукции;
p.tab б) Оставлять заявки средствами Платормы другим Аккаунтам;
p 4.5. Пользователь вправе использовать элементы Платформы создания заявок и размещения остатков продукции по зарегистрированной им организации.

strong Контент

p 4.6. Пользователь гарантирует, что Контент не нарушает права третьих лиц на результаты интеллектуальной деятельности и приравненные к ним средства индивидуализации, права на информацию, составляющую коммерческую тайну, не наносит вреда чести, деловой репутации и достоинству третьих лиц, не нарушает национальное и международное законодательство.
p 4.7. Пользователь предоставляет Администрации право использования Контента в любой форме и любым способом в рамках Платформы. Право использования предоставляется на условиях простой (неисключительной) лицензии и без выплаты авторского вознаграждения на весь срок действия авторского права. Прекращение действия Соглашения между Сторонами не отменяет настоящее положение.

p.title 5. Услуги

p 5.1. Администрация оказывает Пользователю услуги по:
p a) размещению информации об организации;
p b) размещению остатков продукции организации.
p 5.3. Администрация не дает никаких гарантий в отношении работоспособности и сохранности сервера, на котором предоставляется место для Платформы. Пользователь принимает на себя риски потери, связанные с перебоями в работе Платформы и потерей Контента.
p 5.4. Администрация вправе отказать Пользователю в оказании услуги по размещению Контента на Платформе в случае если Контент создает всякого рода угрозы Платформе, в том числе влекущие негативные последствия в той или иной форме для Платформы и/или Администрации.

p.title 6. Запрещенные действия

strong Пользователь не вправе:

p 6.1. Использовать Платформу, прямо не предусмотренными Соглашением.
p 6.2. Предпринимать попытки обойти технические ограничения, установленные Платформой.
p 6.3. Декомпилировать, дизассемблировать, дешифровать и производить иные действия с исходным кодом Платформы.
p 6.4. Использовать Платформу для публикации, распространения, хранения, передачи в любой форме Контента, который:
p.tab a) является незаконным, вредоносным, угрожающим, клеветническим, подстрекающим к насилию над каким-либо лицом или группой лиц, либо к бесчеловечному обращению с животными, призывает к совершению противоправной деятельности, в том числе разъясняет порядок применения взрывчатых веществ и иного оружия, нарушает общепринятые правила приличия и морально-этические нормы, пропагандирует ненависть и/или дискриминацию, а также содержит негативные и критические высказывания, касающиеся религии, политики, расовых, этнических, гендерных признаков, личных качеств, способностей, сексуальной ориентации и внешнего вида третьих лиц, содержит оскорбления в адрес конкретных лиц или организаций;
p.tab b) может быть воспринят как пропаганда определенных политических и религиозных взглядов, нетрадиционной сексуальной ориентации, насилия, употребления наркотических средств, алкоголя и табакокурения;
p.tab c) нарушает права несовершеннолетних лиц;
p.tab d) нарушает права третьих лиц на результаты интеллектуальной деятельности и приравненные к ним средства индивидуализации, права на информацию, составляющую коммерческую тайну, наносящего вред чести, деловой репутации и достоинству третьих лиц, нарушающего национальное и международное законодательство.
p.tab e) содержит не разрешенную к разглашению информацию;
p.tab f) содержит вредоносное программное обеспечение (вирусы, черви, трояны или другие компьютерные коды, файлы или программы), предназначенное для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования (их частей), для осуществления несанкционированного доступа, для получения доступа к коммерческим программным продуктам, путем предоставления серийных номеров логинов, паролей, программ для их генерации и прочих средств для получения несанкционированного доступа к платным ресурсам, а также размещения ссылок на вышеуказанную информацию;
p.tab g) представляет собой Спам, т.е. рассылку без согласия получателя сообщений коммерческого и некоммерческого характера в форме (включая, но не ограничиваясь): рекламы товаров, оборот которых запрещен или ограничен согласно законодательству РФ; сообщений социального и/или религиозно-мистического содержания с призывом о дальнейшем распространении таких сообщений («писем счастья»); списков чужих адресов электронной почты; схем «пирамид», многоуровневого (сетевого) маркетинга (MLM); реферальных ссылок; систем Интернет-заработка и онлайн-бизнесов.;
p.tab h) нарушает законодательство Российской Федерации, а также нормы международного права;
p.tab i) может использоваться для незаконного сбора, хранения и обработки персональных данных других лиц;

p 6.5. Использовать Платформу для:
p.tab a) Нарушения работы Платформы, в том числе размещения элементов, затрудняющих обмен информацией в реальном времени, открывающих дополнительные окна браузера, подменяющих функциональные элементы интерфейса и т.п.
p.tab b) Размещения ссылок на ресурсы, содержание которых противоречит действующему законодательству РФ и нормам международного права.
p.tab c) Распространения не соответствующих действительности сведений относительно своей причастности к Администрации и /или ее партнерам.
p.tab d) Содействия любым мероприятиям, направленным на нарушение ограничений и запретов, налагаемых Соглашением, а также на нарушение норм действующего законодательства.

p.title 7. Блокировка и удаление

p 7.1. Администрация вправе незамедлительно осуществить блокировку и/или удаление Аккаунта в случае:
p.tab a) Выявления нарушения Пользователем положений Соглашения;
p.tab b) Выявления нарушения Пользователем положений действующего законодательства Российской Федерации;
p.tab c) Получения от третьих лиц претензии о нарушении Пользователем их прав;
p.tab d) Получения соответствующих требований от государственных органов.
p 7.2. Блокировка означает невозможность пользователей сети Интернет ознакомиться с содержанием Контента Пользователя.
p 7.3. Пользователь обязуется самостоятельно предпринять все действия для прекращения нарушения.
p 7.4. В случае блокировки в связи получением от третьих лиц претензии о нарушении Пользователем их прав, Пользователь вправе использовать в дальнейшем Платформу только при соблюдении одного из следующих условий:
p.tab a) полное удаление информации и (или) материалов, вызвавших претензии третьих лиц;
p 7.5. В случае блокировки в связи с получением требований от государственных органов, в том числе Роскомнадзора, разблокировка Аккаунта не производится. Пользователь не вправе публиковать на Платформе каким-либо способом Контент, размещенный на заблокированном Аккаунте.
p 7.6. В случае отказа прекратить нарушение или неоднократных блокировок Сайтов, Администрация вправе в одностороннем порядке удалить Аккаунт со всем Контентом и данными.

p.title 8. Тарифы

p 8.1. Виды Тарифов будут доступны позднее. на текущий момент доступен бесплатный Тариф.
p 8.2. Тарифы могут изменяться по одностороннему решению Администрации. Стоимость оплаченного периода при этом изменению не подлежит.
p 8.3. После регистрации Пользователь вправе использовать Платформу на бесплатном Тарифе.
p 8.4. Для перехода на платный Тариф на постоянной основе Пользователь оплачивает его способами, предложенными функционалом Платформы. Переход между платными Тарифами возможен в случае оплаты стоимости нового Тарифа в полном объеме.
p 8.5. Оплата Тарифа осуществляется на условиях cтопроцентной предоплаты.
p 8.6. Датой оплаты является дата зачисления денежных средств на счет Администрации.
p 8.7. Обязательства по оплате считаются неисполненными в случае возврата денежных средств по требованию платежной организации.
p 8.8. Размер тарифа складывается из стоимости услуг.
p 8.8. Неиспользование Пользователем услуг не освобождает Пользователя от их оплаты.
p 8.10. По истечении срока действия Тарифа он автоматически продлевается на период, аналогичный предыдущему. Администрация осуществляет автоматическое списание соответствующей суммы с платежной карты Пользователя согласно действующим Тарифам.
p 8.11. Пользователь вправе отменить функцию автоплатежа или уведомить Администрацию о нежелании продлевать платный Тариф не позднее чем за 3 (три) дня до окончания срока его действия.
p 8.12. При переходе с платного Тарифа на бесплатный Тариф Пользователь обязан привести Личный кабинет в соответствии с условиями, на которых предоставляется бесплатный Тариф.
p 8.13. При первой оплате Тарифа Пользователь дает Администрации и её партнёрам согласие на хранение информации о его платежной карте и соглашается с тем, что Администрация уполномочена взимать плату с платежной карты для:
p.tab a) реализации функции автоплатежа;
p.tab b) списания иных платежей, связанных с Соглашением;
p.tab c) погашения задолженности Пользователя по Соглашению.

p.title 9. Права Администрации

p 9.1. Изменять, дорабатывать и обновлять Платформу без согласия и уведомления Пользователя.
p 9.2. Устанавливать любые ограничения на использование Платформы.
p 9.3. Удалять Аккаунт Пользователя, который к моменту удаления в течение шести и более календарных месяцев:
p.tab a) находится на бесплатном Тарифе
p.tab b) не используется Пользователем.
p 9.4. Направлять Пользователю сообщения, уведомления, запросы, сведения рекламного и информационного характера.
p 9.5. Направлять Пользователю информацию о вебинарах, видео и другую информацию о Платформе.
p 9.7. Получать доступ к Личному кабинету Пользователя для мониторинга работы Платформы.
p 9.8. Проводить профилактические работы, влекущие приостановление работы Платформы.
p 9.9. Возвращать Пользователю доступ к Аккаунту в случае его взлома, утери или смены логина/пароля при одновременном соблюдении следующих условий:
p.tab a) Аккаунт использовался на условиях платного Тарифа.
p.tab b) Пользователь назвал достоверную информацию о платежной карте, с которой осуществлялась оплата Тарифа.

p.title 10. Персональные данные

p 10.1. Платформа выполняет обработку персональных данных Пользователя в целях исполнения Соглашения согласно требованиям, установленным Федеральным законом «О персональных данных» от 27.07.2006 N 152-ФЗ.
p
    | 10.2. Порядок обработки и защита персональных данных определяется Политикой в области обработки и защиты персональных данных, расположенной по адресу
    '
    = link_to 'http://elmyfta.ru/privacy', privacy_path
p 10.3. В случае осуществления Пользователем обработки персональных данных третьих лиц, Пользователь самостоятельно несет ответственность за соблюдение надлежащих мер по защите персональных данных согласно требованиям 152-ФЗ и иных законов и подзаконных актов, в том числе в части получения соответствующих разрешений, размещения на Сайте необходимых документов и информации.

p.title 11. Ответственность

p 11.1. Администрация не несет ответственности за прямую или косвенную упущенную выгоду Пользователя.
p 11.2. Ответственность Администрации по Соглашению не может превышать стоимости оплаченного Пользователем Тарифа.
p 11.3. В случае предъявления Администрации претензий, требований и/или исков о нарушении прав третьих лиц, связанных с нарушением данных Пользователем гарантий, Пользователь принимает на себя обязательства по их урегулированию и возмещению ущерба Администрации в случае его возникновения.

p.title 12. Срок Соглашения

p 12.1. Соглашение действует с момент акцепта до момента удаления Аккаунта Пользователя.
p 12.2. Аккаунт может быть удален:
p.tab a) По заявке Пользователя
p.tab b) По основаниям, предусмотренным разделом 7.
p 12.3. В случае удаления Аккаунта с действующим платным Тарифом, лицензионная часть вознаграждения возврату не подлежит. Пользователь вправе потребовать возврата за оплаченный, но не оказанный период оказания услуг.

p.title 13. Разрешение споров и разногласий

p 13.1. Все споры или разногласия, возникающие между Сторонами в связи с исполнением Соглашения, разрешаются ими путем переговоров.
p 13.2. При недостижении Сторонами соглашения, споры и разногласия подлежат разрешению в претензионном порядке. Срок ответа на претензию — 30 дней.
p 13.3. При невозможности прийти к соглашению спор может быть передан на разрешение суда по месту нахождения Администрации.
p 13.4. Применимым правом является право Российской Федерации.

p.title 14. Заключительные положения

p 14.1. Соглашение может быть изменено или дополнено Администрацией без уведомления Пользователя в любое время. Новая редакция Соглашения вступает в силу с момента ее размещения на Платформе.
p 14.2. Продолжение использования Платформы после внесения изменений и/или дополнений в Соглашение означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.
p 14.3. Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством РФ.
p 14.4. В случае, если какое-либо из положений Соглашения окажется ничтожным в соответствии с законодательством Российской Федерации, остальные положения останутся в силе, а Соглашение будет исполняться Сторонами в полном объеме без учета такого положения.
p 14.5. Настоящее Соглашение составлено на русском языке и может быть предоставлено Пользователю для ознакомления на английском языке. В случае расхождения русскоязычной версии Соглашения и версии Соглашения на ином языке, применяются положения русскоязычной версии Соглашения.
