<p>Приветствуем <%= @resource.name %>!</p>

<p>Кто-то запросил восстановление Вашего пароля.</p>
<p>Сбросить пароль Вы можете по ссылке ниже.</p>

<p><%= link_to 'Поменять пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не вы, проигнорируйте пожалуйста это письмо.</p>
<p>Ваш пароль не будет изменен до тех пор, пока не перейдете по ссылке.</p>
